body { 
  font-family: 'Trebuchet MS', sans-serif;
  background-color: rgb(254, 235, 212);
  text-align: center;
  margin: 0;
}

.first_title {
  font-size: 33px;
}

.second_title {
  font-size: 30px;
  color: #8B4513;
  margin-bottom: 5px;
}

.headup {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.headdown {
  padding-left: 50px;
  padding-right: 50px;
}

.zagbg {
  height: fit-content;
  width: fit-content;
  border-radius: 8px;
}

h3 {
  font-size: 27px;
  color: #000;
}

p {
  font-size: 15px;
  color: #000;
  margin: 5px;
}

h1 a {
  text-decoration: none;
  color: #000;
}

.mul {
  padding-left: 0;
  margin: 0;
}

.navi {
  font-size: 20px;
  background: #f5f5f5;
  border-radius: 8px;
  padding: 1px;
  box-shadow: 2px 2px 10px #000;
  margin: 30px;
}

.navi .mul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navi .mul .mlist {
  list-style: none;
  padding: 15px 20px;
  margin: 5px 15px;
}

.navi .mul .mlist a {
  text-decoration: none;
  color: #000;
}

.here {
  font-weight: bold;
}

.maincont {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 830px) {
  .headup {
    margin-top: 20px;
  }
  .headdown {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navi {
    margin-bottom: 0;
  }
  .maincont {
    margin-left: 55px;
    margin-right: 10px;
  }
}

@media (max-width: 740px) {
  .first_title {
    font-size: 27px;
    margin-bottom: 14px;
  }

  .second_title {
    font-size: 25px;
    margin-top: 14px;
  }

  h3 {
    font-size: 21px;
    margin-bottom: 10px;
  }

  p {
    font-size: 12px;
  }

  .headup {
    margin-top: 20px;
  }

  .headdown {
    padding-left: 20px;
    padding-right: 20px;
  }

  .navi {
    margin: 0;
    margin-bottom: 0;
    font-size: 15px;
  }

  .maincont {
    margin: 0;
    margin-left: 30px;
    margin-top: 0;
  }
}

@media (max-width: 530px) {
  .first_title {
    font-size: 23px;
    margin-bottom: 8px;
  }

  .second_title {
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 17px;
    margin-bottom: 5px;
  }

  p {
    font-size: 10px;
  }

  .navi .mul .mlist {
    margin: 0;
  }

  .navi {
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
  }

  .maincont {
    margin: 0;
    margin-left: 20px;
  }
}

@media (max-width: 325px) {
  .first_title {
    font-size: 15px;
    margin: 0;
  }

  .second_title {
    font-size: 12px;
    margin: 5px 0;
  }

  h3 {
    font-size: 10px;
    margin-bottom: 5px;
  }

  p {
    font-size: 6px;
    margin: 3px;
  }

  .navi .mul .mlist {
    margin: 0;
    padding: 7px 10px;
  }

  .navi {
    margin: 0;
    margin-top: 5px;
    font-size: 9px;
  }

  .maincont {
    margin-left: 0;
  }
}
