body { 
  font-family: 'Trebuchet MS', sans-serif;
  background-color: rgb(254, 235, 212);
  text-align: center;
  margin: 0px;
}

.first_title {
  font-size: 33px;
}

.second_title {
  font-size: 30px;
  color: #8B4513;
  margin-bottom: 5px;
}

.headup{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.headdown{
    padding-left: 50px;
    padding-right: 50px;
}

.zagbg{
  height: fit-content;
  width: fit-content;
 /*  background-color: rgba(255, 255, 255, 0.5);*/
  border-radius: 8px;
}

h3{
  font-size: 27px;
  color: #000;
}

p{
  font-size: 15px;
  color: #000;
  margin: 5px;
}

h1 a{
    text-decoration: none;
    color: #000;
}

.mul{
  padding-left: 0px;
}

.navi {
  font-size: 20px;
  background: #f5f5f5;
  border-radius: 8px;
  padding: 1px;
  box-shadow: 2px 2px 10px #000;
  margin: 30px;
}

.navi .mul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navi .mul .mlist {
  list-style: none;
  padding: 15px 20px;
  margin: 5px 15px;
}

.navi .mul .mlist a {
  text-decoration: none;
  color: #000;
}

.here{
  font-weight: bold;
}

.maincont{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

@media (max-width: 1780px) {
  .product{
    margin-right: 80px;
  }
}

@media (max-width: 1295px) {
  .box {
    padding-left: 50px;
  }
  .product{
    margin-right: 50px;
  }
}

@media (max-width: 830px) {
  .headup{
    margin-top: 20px;
  }
  .headdown{
    padding-left: 20px;
    padding-right: 20px;
  }
  .navi{
    margin-bottom: 0px;
  }
  .pagenav .pul .plist{
    padding: 10px 15px;
  }
  .maincont{
    margin-left: 55px;
    margin-right: 10px;
  }
  .box {
    padding-left: 0px;
    margin: 0px;
  }
  h4{
    margin-top: 0px;
  }
  .product{
    margin-top: 0px;
    margin-bottom: 30px;
    margin-right: 30px;
  }
  .order-actions {
    margin: 10px 30px 30px;
  }
}

@media (max-width: 740px) {
  .first_title {
    font-size: 27px;
    margin-bottom: 14px;
  }

  .second_title {
    font-size: 25px;
    margin-top: 14px;
  }

  h3{
    font-size: 21px;
    margin-bottom: 10px;
  }

  h4{
    margin-top: 0px;
    font-size: 18px;;
  }

  p{
    font-size: 12px;
  }
    
  .headup{
    margin-top: 20px;
  }
  .mul{
    margin: 0px;
  }
  .headdown{
    padding-left: 20px;
    padding-right: 20px;
  }
  .pagenav{
    font-size: 16px;
  }
  .pagenav .pul .plist{
    margin: 0 20px;
    padding: 7px 15px;
  }
  .navi{
    margin-left: 0px;
    margin-right: 0px;
    font-size: 15px;
    margin-bottom: 0px;
  }
  .maincont{
    margin: 0px;
    margin-left: 30px;
    margin-top: 0px;
  }
  .box {
    padding-left: 0px;
    margin: 0px;
  }
  .product{
    width: 250px;
    height: 302px;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-right: 30px;
  }
  .price{
    margin-bottom: 0;
  }
 
    .order-label {
    font-size: 12px;
  }
  .order-qty {
    width: 50px;
    font-size: 10px;
  }

  #submitOrder {
    font-size: 17px;
    padding: 8px 20px;
  }

  .order-message {
    font-size: 10px;
  }
}

@media (max-width: 530px) {
  .first_title {
    font-size: 23px;
    margin-bottom: 8px;
  }

  .second_title {
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 10px;
  }

  h3{
    font-size: 17px;
    margin-bottom: 5px;
  }

  h4{
    margin-top: 0px;
    font-size: 15px;
    margin-bottom: 10px;
  }

  p{
    font-size: 10px;
  }
    
  .headup{
    margin-top: 20px;
  }
  .mul{
    margin: 0px;
  }
  .navi .mul .mlist{
    margin: 0px;
  }
  .headdown{
    padding-left: 20px;
    padding-right: 20px;
  }
  .pagenav{
    font-size: 12px;
    margin-bottom: 5px;
  }
  .navi{
    margin: 0px;
    margin-top: 5px;
    font-size: 12px;
  }
  .pul{
    margin: 0px;
  }
  .pagenav .pul .plist{
    margin: 0 10px;
    padding: 10px 15px;
  }
  .maincont{
    margin: 0px;
    margin-left: 20px;
    margin-top: 0px;
  }
  .box {
    padding-left: 0px;
    margin: 0px;
  }
  .product{
    width: 200px;
    height: 245px;
    margin-top: 0px;
    margin-bottom: 15px;
    margin-right: 15px;
  }
  .imgprod{
    margin-top: 15px;
  }

  .price{
    margin-bottom: 0px;
  }
 
  .order-label {
    font-size: 10px;
  }
  .order-qty {
    width: 50px;
    font-size: 8px;
  }

  #submitOrder {
    font-size: 15px;
    padding: 8px 20px;
  }

  .order-message {
    font-size: 10px;
  }
}

@media (max-width: 325px) {
  .first_title {
    font-size: 15px;
    margin: 0;
  }

  .second_title {
    font-size: 12px;
    margin: 5px 0;
  }

  h3{
    font-size: 10px;
    margin-bottom: 5px;
  }

  h4{
    margin-left: 25px;
    font-size: 9px;
  }

  p{
    font-size: 6px;
    margin: 3px;
  }
    
  .headup{
    margin-top: 20px;
  }
  .mul{
    margin: 0px;
  }
  .navi .mul .mlist{
    margin: 0px;
    padding: 7px 10px;
  }
  .headdown{
    padding-left: 20px;
    padding-right: 20px;
  }
  .pagenav{
    font-size: 8px;
    margin-bottom: 5px;
  }
  .navi{
    margin: 0px;
    margin-top: 5px;
    font-size: 9px;
  }
  .pul{
    margin: 0px;
  }
  .pagenav .pul .plist{
    margin: 0;
    padding: 5px 15px;
  }
  .product{
    width: 170px;
    height: 200px;
  }
  .order-block{
    margin-top: -3px;
  }
  .order-label {
    font-size: 6px;
  }
  .order-qty {
    width: 50px;
    font-size: 5px;
  }

  #submitOrder {
    font-size: 10px;
    padding: 8px 20px;
  }

  .order-message {
    font-size: 10px;
  }
}