body { 
  font-family: 'Trebuchet MS', sans-serif;
  background-color: rgb(254, 235, 212);
  text-align: center;
  margin: 0px;
}

.first_title {
  font-size: 33px;
}

.second_title {
  font-size: 30px;
  color: #8B4513;
  margin-bottom: 5px;
}

.headup{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.headdown{
    padding-left: 50px;
    padding-right: 50px;
}

.zagbg{
  height: fit-content;
  width: fit-content;
 /*  background-color: rgba(255, 255, 255, 0.5);*/
  border-radius: 8px;
}

h3{
  font-size: 27px;
  color: #000;
}

p{
  font-size: 15px;
  color: #000;
  margin: 5px;
}

h1 a{
    text-decoration: none;
    color: #000;
}

.mul{
  padding-left: 0px;
}

.navi {
  font-size: 20px;
  background: #f5f5f5;
  border-radius: 8px;
  padding: 1px;
  box-shadow: 2px 2px 10px #000;
  margin: 30px;
}

.navi .mul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navi .mul .mlist {
  list-style: none;
  padding: 15px 20px;
  margin: 5px 15px;
}

.navi .mul .mlist a {
  text-decoration: none;
  color: #000;
}

.here{
  font-weight: bold;
}

img {
    border-radius: 50px;
   
}

.maincont{
  display: flex;
  flex-direction: column;
}

.data{
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
    margin-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
}

.img1 {
    height: fit-content;
    width: fit-content;
    filter: drop-shadow(1px 1px 3px #000);
    margin: 10px 0;
}

.base{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 19px;
    align-items: center;
    margin: 10px 0;
}

.annotation {
    border-radius: 10px;
    padding: 15px 15px 15px 15px; 
    background-color: #f5f5f5;
    box-shadow: 1px 1px 3px #000;
} 


.img2_0 {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    filter: drop-shadow(1px 1px 3px #000);
}

.flow{
    width: 100%;
    min-height: 300px;
    position: relative;
}

.img2_0 .tgk{
    position: absolute;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    background-color: #f5f5f5;
    cursor: pointer;
    font-size: 23px;
    color: #000;
    filter: drop-shadow(1px 1px 3px #000);
}

.img2_0 .tgk:hover{
    background-color: antiquewhite;
}
/*
.tgk {
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    cursor: pointer;
    
    font-size: 23px;
    color: #000;
    filter: drop-shadow(1px 1px 3px #000);
}*/